.card {
	/*-fx-background-color: #3D348B;*/
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-padding: 14;
	 -fx-background-color: linear-gradient(from 25px 25px to 90px 90px, #000000, #3D348B);
}